#moowoodle-my-group{
    .button-wrapper{
        display: flex;
        justify-content: space-between;
    }
    .enroll-container{
        button{
            margin:0.5rem 0.5rem 1rem 0;
        }
    }
}